:root {
	--yellow-color: #ffbe40;
	--gray-color: #f4f4f4;
	--dark-grey-color: #263238;
}
body {
	background-color: var(--gray-color);
	font-family: 'Concert One', cursive;
	color: var(--dark-grey-color);
}
.color-yellow {
	color: var(--yellow-color);
}
.bg-yellow {
	background-color: var(--yellow-color);
}
/* --------------------------Username-------------------------- */
.navbar span {
	font-size: 1.3rem;
}
.btn-cont:hover {
	background-color: #e7ab31;
}

/* ----------------------------Chat---------------------------- */
